#	SPDX-License-Identifier: GPL-2.0+
#	Copyright (c) 2023 Devmfc <devmfc@mvand.net>
#
# 	Comments are only allowed at the beginning of a line

# Uncomment one of these box configs:
#box=a95x1g
#box=a95xf2
#box=beelinkgtking
#box=h96maxw2
#box=h96maxx3
#box=h96proplus
#box=hk1x3
#box=km8pro
#box=s905_generic
#box=s905w_generic
#box=s905w2_generic
#box=s905x_generic
#box=s905x2_generic
#box=s905x3_generic
#box=s905x3_generic_gigabit
#box=s905x4_generic
#box=s905x4_generic_gigabit
#box=s912_generic_gigabit
#box=s922x_generic_gigabit
#box=tanixtx3
#box=tanixw2
#box=tox1
#box=vontarx4_gigabit
#box=x88prox3
#box=x96
#box=x96aira100
#box=x96airp2
#box=x96airp3
#box=x96max
#box=x96maxplus2
#box=x96maxplus2101w
#box=x96maxplus2t
#box=x96maxplusq2
#box=x96mini
#box=x96x4
#box=x96x4_gigabit

# Kernel version config
majorbranch=6.x.y
branch=6.6.y
release=6.6.16-meson64
variant=mainline

# Our kernels don't need initramfs by default
rd_img=

# Set to y to enable some extra debug configs, like serial console
#debug=y

# warning, make sure this file ends with a newline!
