#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Box: Generic S905X4 - Amlogic SC2 (S905X4) - 4GB - 100M - HDMI via simplefb
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-sc2-ah212-generic.dtb

load_config0=s4-default-${variant}.config

load_config5=s4-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
