#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Box: Generic Amlogic GXL (S905X) P212 Reference design - 2GB - 100M
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-gxl-p212-generic.dtb

load_config0=gx-default-${variant}.config

# debug=y
load_config5=gx-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
