#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2022 by Devmfc
#
#	Box: Generic Amlogic GXM (S912) - 2GB - 1000M - BCM?? (based on q200)
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-gxm-q200.dtb

#load_config0=gx-default-${variant}.config

# debug=y
load_config5=gx-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
