#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2022 by Devmfc
#
#	Box: H96 Max W2 S905W2- Amlogic S4 (S905W2/S805X2/S905Y4) - 2GB - 100M - HDMI via simplefb
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-s4-h96maxw2.dtb

load_config0=s4-default-${variant}.config

load_config5=s4-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
