#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2023 by Devmfc
#
#	Box: X96 Max - Amlogic G12a (S905X2) - 4GB - 1000M - Broadcom BCM4356 Wifi + BT
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-g12a-x96max.dtb

load_config0=g12a-default-${variant}.config

load_config3=fix-power-on-tm1628.config

# debug=y
load_config4=g12a-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
