#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Box: X96 - Amlogic GXL (S905X) - 2GB - 100M - RTL8189ES (based on p212)
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-gxl-x96.dtb

load_config0=gx-default-${variant}.config

# debug=y
load_config5=gx-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
