#  SPDX-License-Identifier: GPL-2.0+
#  Version 2022 by Devmfc
#
#   Box: Km8 Pro - Amlogic GXM (S912) - 2GB - 1000M - BCM4335/1 (based on q200 reference design)
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-gxm-km8pro.dtb

# debug=y
load_config5=gx-debug-${variant}-${debug}.config

# eMMC Amlogic android partitions (may vary by android image version!), enable this when you want to access the Amlogic partitions om eMMC
#bootargs9=blkdevparts=mmcblk1:0x30c200000@0x97c00000(data)
# warning, make sure this file ends with a newline!
