#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2023 by Devmfc
#
#	Box: Nexbox A95X - Amlogic GXBB (S905) - 1GB - 100M - RTL8189ES
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-gxbb-nexbox-a95x.dtb

load_config0=gx-default-${variant}.config

# debug=y
load_config5=gx-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
