#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Box: Generic u212 Gigabit PHY based tvbox - Amlogic G12A (S905X2) - 4GB - 1000M
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-g12a-u2xx-generic-gbit.dtb

load_config0=g12a-default-${variant}.config

# debug=y
load_config5=g12a-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
