#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2023 by Devmfc
#
#	Box: X96 Max Plus 2101W - Amlogic SM1 (S905X3) - 4GB - 1000M (TI phy) - AML-W1
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-sm1-x96maxplus2101w.dtb

load_config0=g12a-default-${variant}.config

load_config3=fix-power-on-tm1628.config

# debug=y
load_config5=g12a-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
