#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Box: A95X F2 - Amlogic G12a (S905X2) - 4GB - 100M - Mediatek MT7668 Wifi + BT
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-g12a-a95xf2.dtb

load_config0=g12a-default-${variant}.config

# debug=y
load_config4=g12a-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
