#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Some ethernet fixes for vendor u-boot (needed by older 5.x kernels pre 5.10?)
#		rgmii set pico delay to 800ns and clear loopback bit on realtek phy and add 2 nsec tx delay
#		
# Comments are only allowed at the beginning of a line

run_cmd0=mw.l 0xff634540 0x1621;mw.l 0xff634544 0x40000;
run_cmd1=phyreg w 0x0 0x1040;phyreg w 0x1f 0xd08;phyreg w 0x11 0x109;phyreg w 0x1f 0x0;

# warning, make sure this file ends with a newline!
