#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	fd628/tm1628 vfd frontpanel display power on
#		
# Comments are only allowed at the beginning of a line
# 

c1=gpio set GPIOA_15
c0=gpio clear GPIOA_15
d1=gpio set GPIOA_14
d0=gpio clear GPIOA_14
bstart=gpio clear GPIOAO_10
bstop=gpio set GPIOAO_10
b1=run c0 d1;run c1;
b0=run c0 d0 c1;
sequence_power_on=stop start 1 1 0 0 0 0 0 0 stop start 1 1 1 1 0 0 0 1 stop 
#sequence_set_text=start 0 0 0 0 0 0 1 0 stop start 0 0 0 0 0 0 1 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0  0 1 1 0 0 0 0 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0 stop
run_cmd0=for c in "${sequence_power_on} ${sequence_set_text}"; do run b${c};done;

# warning, make sure this file ends with a newline!
