#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	'Green' Screen color fix for kernels before 5.16 in combination with vendor u-boot
#		
# Comments are only allowed at the beginning of a line

# *(volatile unsigned int *)(0xff900000+(0x38a0<<2))=(*(volatile unsigned int *)(0xff900000+(0x38a0<<2))) & ~(0x1e000)
run_cmd0=mwm 0xff90e280 0 0xfffe1fff

# warning, make sure this file ends with a newline!
