#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Some common options for mainline kernel for Soc: G12A / SM1
#		
# Comments are only allowed at the beginning of a line

bootargs0=watchdog.stop_on_reboot=0

run_cmd11=setenv dtb_mem_addr ${dtb_addr}
# warning, make sure this file ends with a newline!
