#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Some extra debug options for mainline kernel for Soc: GXL (S905X)
#		
# Comments are only allowed at the beginning of a line

bootargs0=console=ttyAML0,115200n8 earlycon=meson,0xc81004c0

# warning, make sure this file ends with a newline!
