#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Some common options for mainline kernel for SOC: GXL (S905X/W/L)
#		
# Comments are only allowed at the beginning of a line

# boot hack, vendor bootloader can only boot legacy u-boot image files
# so hack image header together (I don't want separate uImage files), kernel image should NOT exceed 32MB 
os_addr=0x02000000
dtb_addr=0x04000000
verify=no       
cmd_hdr_create=mw.l 0x1ffffc0 0 0x10;mw.l 0x1ffffc0 0x56190527;mw.l 0x1ffffcc 0x00000002;mw.l 0x1ffffd0 0x00000002;mw.l 0x1ffffd4 0x00000002;mw.l 0x1ffffdc 0x00021605;
#cmd_hdr_crc=crc 0x1ffffc0 0x40 0x1ffffc4;md 0x1ffffc0 0x40;
cmd_hdr_crc=mw.l 0x1ffffc4 0x25520aa8
cmd_do_boot=run cmd_hdr_create cmd_hdr_crc; bootm 0x1ffffc0 ${rd_addr} ${dtb_addr}

bootargs0=watchdog.stop_on_reboot=0

# warning, make sure this file ends with a newline!
