#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Some common bootargs for 5.x.y kernel
#		
# Comments are only allowed at the beginning of a line

rootfstype=ext4

bootargs0=root=${root} rootfstype=${rootfstype} rootwait rw
bootargs1=console=tty0 no_console_suspend consoleblank=0
bootargs2=coherent_pool=2M
bootargs3=net.ifnames=0
bootargs4=fsck.repair=yes
bootargs5=fsck.mode=skip
#extra_args5=fsck.mode=auto

# warning, make sure this file ends with a newline!
