#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2020 by Devmfc
#
#	Some common bootargs for 6.x.y kernel
#		
# Comments are only allowed at the beginning of a line

rootfstype=ext4

bootargs0=root=${root} rootfstype=${rootfstype} rootwait rw
bootargs1=console=tty0 no_console_suspend consoleblank=0
bootargs2=coherent_pool=2M
bootargs3=net.ifnames=0
bootargs4=fsck.repair=yes
bootargs5=fsck.mode=skip

# security
bootargs6=init_on_alloc=1 init_on_free=1 randomize_kstack_offset=on kfence.sample_interval=100 debugfs=off
# vs performance
#bootargs6=init_on_alloc=0 init_on_free=0 randomize_kstack_offset=off kfence.sample_interval=0

# power
bootargs7=kfence.deferrable=1

load_config0=kernel-6.x.y-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
