bootargs1=memtest=2
#bootargs2=keep_bootcon
bootargs3=debugfs=on
bootargs4=pd_ignore_unused clk_ignore_unused
bootargs5=initcall_debug 
# debug ignore_loglevel
bootargs6=no_hash_pointers nokaslr
#bootargs7=initcall_blacklist=init_netconsole module_blacklist=8822cs modprobe.blacklist=wlan_mt76x8_sdio
#bootargs8=break
#bootargs9=break top
#bootargs10=nomodeset

