#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2023 by Devmfc
#
#	Some common options for mainline kernel for Soc: S4 (S905W2/S805X2) and SC2 (S905X4)
#		
# Comments are only allowed at the beginning of a line

bootargs0=watchdog.stop_on_reboot=0 pd_ignore_unused clk_ignore_unused nomodeset

# warning, make sure this file ends with a newline!
