#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2022 by Devmfc
#
#	Some extra debug options for mainline kernel for Soc: Amlogic S4 (S905W2/S905Y4) 
#		
# Comments are only allowed at the beginning of a line

serial=ttyAML0
run_cmd1=test ${majorbranch} = "6.x.y" && setenv serial ttyS0 && test "${branch}" = "6.1.y" && setenv serial ttyAML0

bootargs0=earlycon=meson,0xfe07a000 console=${serial},921600n8
#bootargs1=dwmac-meson8b.mc_val=0x1621 dwmac-meson8b.cali_val=0xa0000

# warning, make sure this file ends with a newline!
